entrypoint = "server.ts"
run = "npm run start"
modules = ["web", "nodejs-20", "php-8.2"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4200
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[agent]
expertMode = true

[workflows]
runButton = "Full Stack App"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Admin Panel"

[[workflows.workflow]]
name = "PHP Admin Panel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t php-admin"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Angular App"
author = 47429846
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Full Stack App"
author = 47429846
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start -- --port 5000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8080 -t php-admin"
